HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Ignore bundler config.
/employee-tracker/.bundle

# Ignore all logfiles and tempfiles.
/employee-tracker/log/*
/employee-tracker/tmp/*
!/employee-tracker/log/.keep
!/employee-tracker/tmp/.keep

# Ignore pidfiles, but keep the directory.
/employee-tracker/tmp/pids/*
!/employee-tracker/tmp/pids/
!/employee-tracker/tmp/pids/.keep


/employee-tracker/public/assets

# Ignore master key for decrypting credentials and more.
/employee-tracker/config/master.key