<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6">
      <h4>Employees information</h4>
      <dl>
        <% @employees['_embedded']['employeeList'].each do |employee| %>
          <dt><%= employee['name'] %></dt>
          <dt><%= employee['role'] %></dt>
        <% end %>
      </dl>
    </div>
  </div>
</div>